/*  your css code here. If applicable */
:root{
	background:skyblue;
}
.first-para{
	background:black;
	color:white;
}
.para2{
	color:black;
}
.para3{
	color:red;
}
li:first-child{
	background:white;
	width:200px;
}
li:nth-child(2){
	background: gray;
	width:200px;
}
li:nth-child(4){
	background: gray;
	width:200px;
}
li:nth-child(3){
	background: pink;
	width:200px;
}
li:last-child{
	background:white;
	width:200px;
}